# Environnements virtuels
venv/
.venv/
.env

# Python cache & build
__pycache__/
*.py[cod]
*.pt
*.onnx

# Données locales et captures d'intrusions
captures/
*.db
*.sqlite3

# IDE & OS
.vscode/
.idea/
.DS_Store

# Documents & Notebooks locaux
*.pdf
*.ipynb
.ipynb_checkpoints/

# Fichiers non liés au projet Sentinel-Edge
/app.js
/index.html
/style.css
